<div class="container">
  <div class="row mt-2">
    <div class="col-2 text-center">
        <h3>Select Graph</h3>
    </div>
    <div class="col-2">
      <div class="form-floating">
        <select class="form-select" id="graph-name" [(ngModel)]="graphName" (input)="onSelectGraphName($event)">
          <option *ngFor="let graphName of graphNames" [value]="graphName">{{graphName}}</option>
        </select>
        <label for="graph-name">Graph-name</label>
      </div>
    </div>
    <div class="col-2">
      <div class="form-floating">
        <select class="form-select" [(ngModel)]="graphVersion" id="graph-version" (input)="onSelectGraphVersion($event)">
          <option *ngFor="let graphVersion of graphVersions" [value]="graphVersion">{{graphVersion}}</option>
        </select>
        <label for="graph-version">Graph-version</label>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr/>
  <div id="vis"></div>
</div>
